@use "../scss/variables.scss" as *;

.body-text {
  text-align: left;
  margin-bottom: 16px;
  font-family: $open-sans;
  letter-spacing: 0.75px;
  &--light {
    color: black;
  }
  &--dark {
    color: $text--light-beige;
  }
}
