@use "./variables.scss" as *;

.brand-logo {
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 14px;

  &__top,
  &__bottom {
    padding: 0 4px;
    text-transform: uppercase;
  }

  &--light {
    .brand-logo__top {
      color: $background--dark;
    }
    .brand-logo__bottom {
      background-color: $background--dark;
      color: $text--light-beige;
    }
  }

  &--dark {
    .brand-logo__top {
      color: $text--light-beige;
    }
    .brand-logo__bottom {
      background-color: $text--light-beige;
      color: $background--dark;
    }
  }
}
