@use "../scss/variables.scss" as *;

.contact {
  background-color: $background--light;
  padding-bottom: 70px;
  scroll-margin-top: 60px;
  .contact-details-container {
    margin-top: 50px;
  }
  dl {
    margin-bottom: 32px;
  }
  dt {
    text-transform: uppercase;
    color: #3d4230;
    font-family: $open-sans;
    font-size: 16px;
  }
  dd {
    margin-inline-start: 0;
    color: #7a8c5c;
    font-family: $open-sans;
    font-size: 16px;
    letter-spacing: 0.75px;
  }
  .text-container {
    padding: 50px 50px 50px 50px;
    @include breakpoint(desktop-up) {
      padding-left: 150px;
    }
    background-color: $background--light;
  }
}

.contact__image-column {
  //padding: 50px;
}

.contact__image {
  width: 200px;
  height: 260px;
  background-image: url("/images/Elias2.jpg");
  background-size: cover;
  background-position: center;
  @include breakpoint(mobile-only) {
    width: 100%;
    background-size: 100%;
    height: 450px;
  }
}
