@use "./variables.scss" as *;

.home {
  display: flex;
  @include breakpoint(mobile-only) {
    flex-direction: column;
  }
}

.text-container {
  padding: 100px 50px 50px 50px;
  background-color: $background--light;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home__image-container {
  padding: 50px;
  background-color: $background--dark;
}
