@use "../scss/variables.scss" as *;

.varaus-page {
  position: relative;
  padding: 114px 50px 50px 50px;
  height: auto;
  min-height: 650px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  background-color: $background--light;
  @include breakpoint(desktop-up) {
    padding-left: 150px;
    padding-right: 150px;
  }
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.varaus-page-column {
  width: 50%;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

.varaus-page__image-container {
  width: 100%;
  aspect-ratio: 4/3;
  background-image: url("/images/Toimitila.png");
  background-size: cover;
  background-position: center;
}
