@use "../scss/variables.scss" as *;

.legal-page {
  position: relative;
  padding: 114px 50px 50px 50px;
  height: auto;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  background-color: $background--light;
  @include breakpoint(desktop-up) {
    padding-left: 150px;
    padding-right: 150px;
  }
}
