@use "../scss/variables.scss" as *;

.list-card {
  background-color: $background--warm-light;
  border: 2px solid $border--warm;
  padding: 24px;
  width: 100%;
  max-width: calc(50% - 8px);
  @include breakpoint(tablet-only) {
    max-width: 100%;
  }
  .row {
    display: flex;
    align-items: baseline;
  }
  .left-column {
    width: 20%;
  }
  .right-column {
    width: 75%;
  }
  .number {
    font-family: $cormorant-garamond;
    font-size: 50px;
    color: $text--light-green;
    line-height: 1;
  }
  .title {
    font-family: $open-sans;
    font-size: 22px;
    margin-bottom: 5px;
  }
  .description {
    font-family: $open-sans;
  }
}
