@use "../scss/variables.scss" as *;

.reserve-time {
  background-color: $background--dark;
  padding: 50px;
  scroll-margin-top: 60px;
  @include breakpoint(desktop-up) {
    padding-left: 150px;
    padding-right: 150px;
  }
  .button-container {
    margin-top: 50px;
  }
}
