@use "./variables.scss" as *;

.section-name {
  font-family: $open-sans;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2px;
  &--light {
    color: $text--medium-green;
  }
}
