@use "./variables.scss" as *;

.section-heading {
  font-size: 40px;
  font-family: $cormorant-garamond;
  text-align: left;
  line-height: 1.2;
  &--light {
    color: black;
    .italics {
      color: #7a8c5c;
    }
  }
  &--medium {
    color: black;
    .italics {
      color: #3d4230;
    }
  }
  &--dark {
    color: #ece9e5;
    .italics {
      color: #a8b898;
    }
  }
  .italics {
    font-style: italic;
  }
}
