@use "./variables.scss" as *;

.section-heading {
  font-size: 40px;
  font-family: $cormorant-garamond;
  text-align: left;
  line-height: 1.2;
  &--light {
    color: black;
    .italics {
      color: $text--medium-green;
    }
  }
  &--medium {
    color: black;
    .italics {
      color: $background--dark;
    }
  }
  &--dark {
    color: $background--light;
    .italics {
      color: $text--muted-green;
    }
  }
  .italics {
    font-style: italic;
  }
}
