// Fonts
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$cormorant-garamond: "Cormorant Garamond", serif;
$open-sans: "Open Sans", sans-serif;

// Colour variables
$background--darkest: #1a1d13;
$background--dark: #3d4230;
$background--medium: #bdc9b1;
$background--pale-green: #cdd7c3;
$background--warm-light: #f2ebe0;
$background--light: #ece9e5;

$text--medium-green: #7a8c5c;
$text--light-green: #8a9c7a;
$text--muted-green: #a8b898;
$text--light-beige: #ece9e5;

$border--warm: #d4ccbc;

$shadow--light: #d3d3d3;
$shadow--dark: #3a3a3a;

$box-shadow--offset-light: 5px 5px 5px $shadow--light;
$box-shadow--offset-dark: 5px 5px 5px $shadow--dark;
$box-shadow--glow: 0px 0px 15px rgb(0 0 0 / 25%);

// Breakpoints
$breakpoint--mobile: 599px;
$breakpoint--nav: 700px;
$breakpoint--tablet: 1024px;

@mixin breakpoint($name) {
  @if $name == mobile-only {
    @media (max-width: $breakpoint--mobile) {
      @content;
    }
  } @else if $name == tablet-only {
    @media (max-width: $breakpoint--tablet) {
      @content;
    }
  } @else if $name == nav-break {
    @media (max-width: $breakpoint--nav) {
      @content;
    }
  } @else if $name == desktop-up {
    @media (min-width: calc($breakpoint--tablet + 1px)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint `#{$name}`.";
  }
}
