// Fonts
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$cormorant-garamond: "Cormorant Garamond", serif;
$open-sans: "Open Sans", sans-serif;

// Colour variables
$background--dark: #3d4230;
$background--medium: #bdc9b1;
$background--light: #ece9e5;

$text--medium-green: #7a8c5c;
$text--light-beige: #ece9e5;

// Breakpoints
$breakpoint--mobile: 599px;
$breakpoint--nav: 700px;
$breakpoint--tablet: 1024px;

@mixin breakpoint($name) {
  @if $name == mobile-only {
    @media (max-width: $breakpoint--mobile) {
      @content;
    }
  } @else if $name == tablet-only {
    @media (max-width: $breakpoint--tablet) {
      @content;
    }
  } @else if $name == nav-break {
    @media (max-width: $breakpoint--nav) {
      @content;
    }
  } @else if $name == tablet-up {
    @media (min-width: $breakpoint--mobile + 1) {
      @content;
    }
  } @else if $name == desktop-up {
    @media (min-width: $breakpoint--tablet + 1) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint `#{$name}`.";
  }
}
