@use "../scss/variables.scss" as *;

.what-osteopathy-is {
  background-color: $background--dark;
  padding: 50px;
  scroll-margin-top: 60px;
}

.note-card-container {
  margin-top: 50px;
  display: flex;
  gap: 16px;
}
