@use "../scss/variables.scss" as *;

.what-osteopathy-is {
  background-color: $background--dark;
  padding: 50px;
  scroll-margin-top: 60px;
  @include breakpoint(desktop-up) {
    padding-left: 150px;
    padding-right: 150px;
  }
  h4 {
    font-family: $cormorant-garamond;
    font-size: 28px;
    color: black;
  }
  &__text-box-container {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    @include breakpoint(tablet-only) {
      flex-direction: column;
    }
  }
  &__text-box {
    width: 100%;
    background-color: $background--pale-green;
    border: 2px solid $text--medium-green;
    padding: 32px;
    box-shadow: $box-shadow--offset-dark;
    h4 {
      margin-top: 0;
    }
  }
}
